<a href="https://colab.research.google.com/github/AstalDLyon/AstalDLyon/blob/main/Unicarioca_Heart.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1 - Configuração - Importando bibliotecas**

In [ ]:
# Biblioteca
import pandas as pd
import plotly.express as px

# Bibliotecas de Aprendizado de Máquina
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

**2 - Carregando os dados - Importando os dados**

In [ ]:
csv_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/00519/heart_failure_clinical_records_dataset.csv'

col_nomes = ['Idade','Anemia', 'Creatinofosfoquinase', 'Diabetes', 'Fração de ejeção', 'Pressão Sanguinea Alta', 'Plaquetas', 'Serum_creatine', 'Natremia', 'Genero', 'Fumante', 'Tempo', 'Morte',]

heart =  pd.read_csv(csv_url, names = col_nomes, header=0)

**3 - Visualização de dados.**

In [ ]:
#Informações sobre o Dataframe
heart.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Idade                   299 non-null    float64
 1   Anemia                  299 non-null    int64
 2   Creatinofosfoquinase    299 non-null    int64
 3   Diabetes                299 non-null    int64
 4   Fração de ejeção        299 non-null    int64
 5   Pressão Sanguinea Alta  299 non-null    int64
 6   Plaquetas               299 non-null    float64
 7   Serum_creatine          299 non-null    float64
 8   Natremia                299 non-null    int64
 9   Genero                  299 non-null    int64
 10  Fumante                 299 non-null    int64
 11  Tempo                   299 non-null    int64
 12  Morte                   299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [ ]:
# Visualizar as colunas do DataFrame
heart.columns

Index(['Idade', 'Anemia', 'Creatinofosfoquinase', 'Diabetes',
       'Fração de ejeção', 'Pressão Sanguinea Alta', 'Plaquetas',
       'Serum_creatine', 'Natremia', 'Genero', 'Fumante', 'Tempo', 'Morte'],
      dtype='object')

In [ ]:
#Visualizar os dados do Dataframe, é possivel todos o transformando em uma mesa interativa
heart.head(299)

,Idade,Anemia,Creatinofosfoquinase,Diabetes,Fração de ejeção,Pressão Sanguinea Alta,Plaquetas,Serum_creatine,Natremia,Genero,Fumante,Tempo,Morte
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,62.0,0,61,1,38,1,155000.00,1.1,143,1,1,270,0
295,55.0,0,1820,0,38,0,270000.00,1.2,139,0,0,271,0
296,45.0,0,2060,1,60,0,742000.00,0.8,138,0,0,278,0
297,45.0,0,2413,0,38,0,140000.00,1.4,140,1,1,280,0
298,50.0,0,196,0,45,0,395000.00,1.6,136,1,1,285,0

**4 - Processando os dados**

In [ ]:
# Dividir o dataset - separando as colunas

# Atributo de destino
y = heart['Morte']

# Atributo de entrada
x = heart.iloc[:,0:12]

In [ ]:
# Dividir o dataset - separando as linhas
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.7)  # Seguindo uma regra padrão decidi deixar 70% para teste.

train_test_split(x,test_size=0.7)

x_train
x_test

y_train
y_test

x_train.shape
x_test.shape

(210, 12)

In [ ]:
# Construir o classificador
model = KNeighborsClassifier()
model.fit(x_train, y_train)

KNeighborsClassifier()

In [ ]:
# Aplicação do método de predição (Para ver 90 linhas.)
x_test.iloc[0:90,:]

model.predict(x_test.iloc[0:90])

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0])

In [ ]:
# Acurácia (Feita para comparar o processamento desses dados pelo modelo com o dataframe)
print("Acurácia: %.2f " % (model.score(x_test, y_test)))

Acurácia: 0.64

In [ ]:
# Matriz de Confusão
confusion_matrix(y_test, model.predict(x_test))

array([[125,  20],
       [ 55,  10]])